//-----------------------------------------------------------------
// Crop Circles Resources
// RC Source - CropCircles.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_CROPCIRCLES    ICON         "Res\\CropCircles.ico"
IDI_CROPCIRCLES_SM ICON         "Res\\CropCircles_sm.ico"
