//-----------------------------------------------------------------
// Wanderer Resources
// RC Source - Wanderer.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_WANDERER          ICON         "Res\\Wanderer.ico"
IDI_WANDERER_SM       ICON         "Res\\Wanderer_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_BG_LANDSCAPE      BITMAP       "Res\\Background_Landscape.bmp"
IDB_BG_CLOUDS         BITMAP       "Res\\Background_Clouds.bmp"
IDB_PERSON            BITMAP       "Res\\Person.bmp"
