//-----------------------------------------------------------------
// Roids Resources
// RC Source - Roids.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_ROIDS           ICON         "Res\\Roids.ico"
IDI_ROIDS_SM        ICON         "Res\\Roids_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_ASTEROID        BITMAP       "Res\\Asteroid.bmp"
