//-----------------------------------------------------------------
// Planets Resources
// RC Source - Planets.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_PLANETS        ICON         "Res\\Planets.ico"
IDI_PLANETS_SM     ICON         "Res\\Planets_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_GALAXY         BITMAP       "Res\\Galaxy.bmp"
IDB_PLANET1        BITMAP       "Res\\Planet1.bmp"
IDB_PLANET2        BITMAP       "Res\\Planet2.bmp"
IDB_PLANET3        BITMAP       "Res\\Planet3.bmp"
