<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{608,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,360}}</string>
			<key>sourceSize</key>
			<string>{608,360}</string>
		</dict>
		<key>bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,780},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
		<key>button_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,206},{33,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,24}}</string>
			<key>sourceSize</key>
			<string>{33,24}</string>
		</dict>
		<key>button_sub.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,56},{33,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,24}}</string>
			<key>sourceSize</key>
			<string>{33,24}</string>
		</dict>
		<key>cannon_level_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,680},{47,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,47}}</string>
			<key>sourceSize</key>
			<string>{47,47}</string>
		</dict>
		<key>cannon_level_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,730},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>fish_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,255},{38,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,16}}</string>
			<key>sourceSize</key>
			<string>{38,16}</string>
		</dict>
		<key>fish_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,280},{36,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{36,17}}</string>
			<key>sourceSize</key>
			<string>{36,17}</string>
		</dict>
		<key>fish_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,300},{37,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{37,17}}</string>
			<key>sourceSize</key>
			<string>{37,17}</string>
		</dict>
		<key>fish_0_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,330},{37,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,17}}</string>
			<key>sourceSize</key>
			<string>{37,17}</string>
		</dict>
		<key>fish_0_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,360},{38,16}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{38,16}}</string>
			<key>sourceSize</key>
			<string>{38,16}</string>
		</dict>
		<key>fish_0_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,380},{38,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{38,17}}</string>
			<key>sourceSize</key>
			<string>{38,17}</string>
		</dict>
		<key>fish_0_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,380},{38,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{38,17}}</string>
			<key>sourceSize</key>
			<string>{38,17}</string>
		</dict>
		<key>fish_0_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,360},{38,16}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{38,16}}</string>
			<key>sourceSize</key>
			<string>{38,16}</string>
		</dict>
		<key>fish_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,400},{56,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,25}}</string>
			<key>sourceSize</key>
			<string>{56,25}</string>
		</dict>
		<key>fish_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,430},{56,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,23}}</string>
			<key>sourceSize</key>
			<string>{56,23}</string>
		</dict>
		<key>fish_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,460},{56,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,19}}</string>
			<key>sourceSize</key>
			<string>{56,19}</string>
		</dict>
		<key>fish_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,490},{56,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,17}}</string>
			<key>sourceSize</key>
			<string>{56,17}</string>
		</dict>
		<key>fish_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,520},{56,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,19}}</string>
			<key>sourceSize</key>
			<string>{56,19}</string>
		</dict>
		<key>fish_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,490},{56,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,17}}</string>
			<key>sourceSize</key>
			<string>{56,17}</string>
		</dict>
		<key>fish_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,460},{56,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,19}}</string>
			<key>sourceSize</key>
			<string>{56,19}</string>
		</dict>
		<key>fish_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,430},{56,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{56,23}}</string>
			<key>sourceSize</key>
			<string>{56,23}</string>
		</dict>
		<key>fishing_net.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,800},{57,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,50}}</string>
			<key>sourceSize</key>
			<string>{57,50}</string>
		</dict>
		<key>pause_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,225},{28,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{28,28}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>pause_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,212},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{28,30}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>start_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,650},{98,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>start_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,620},{98,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fishingjoy_resource.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:aeb4c55942c69e92ce2d3532df525922$</string>
		<key>textureFileName</key>
		<string>fishingjoy_resource.png</string>
	</dict>
</dict>
</plist>
