/Debug/
FinancialSamples.xcodeproj/xcuserdata/carlosoliveira.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FinancialSamples.xcodeproj/project.xcworkspace/xcshareddata/FinancialSamples.xccheckout
FinancialSamples.xcodeproj/project.xcworkspace/xcuserdata/carlosoliveira.xcuserdatad/WorkspaceSettings.xcsettings
*.o
*.so
