<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemotingService">
      <service>
        <activated type="RemotingShared.ClientActivatedObject, CSRemotingSharedLibrary">
        </activated>
        <wellknown mode="SingleCall" 
                   type="RemotingShared.SingleCallObject, CSRemotingServer" 
                   objectUri="SingleCallService">
        </wellknown>
        <wellknown mode="Singleton"
                   type="RemotingShared.SingletonObject, CSRemotingServer"
                   objectUri="SingletonService">
        </wellknown>
      </service>
      <channels>
        <channel ref="tcp" port="6100">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"></formatter>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>