//-----------------------------------------------------------------
// Blizzard Resources
// RC Source - Blizzard.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BLIZZARD       ICON         "Res\\Blizzard.ico"
IDI_BLIZZARD_SM    ICON         "Res\\Blizzard_sm.ico"
