
//-----------------------------------------------------------------------------
// This is a part of the Microsoft Source Code Samples. 
// Copyright (C) 1993-1997 Microsoft Corporation.
// All rights reserved. 
//  
// This source code is only intended as a supplement to 
// Microsoft Development Tools and/or WinHelp documentation.
// See these sources for detailed information regarding the 
// Microsoft samples programs.
//-----------------------------------------------------------------------------

#include <windows.h>
#include "gutilsrc.h"

VertLine CURSOR vertline.cur
HorzLine CURSOR horzline.cur

STRINGTABLE
BEGIN
    IDS_MEMORY_ALLOC_FAIL    "Memory allocation failed"
    IDS_OUT_OF_MEMORY        "Out Of Memory"
    IDS_PAGE_STR             "Page %d of %d pages"
    IDS_LIST_ALLOC_NEGATIVE  "Problem in List code.\nList block allocation negative (%d)"
END

#include "gutils.dlg"
