
#ifndef LSTDIALG_RC
#define LSTDIALG_RC

#include <windows.h>
#include "dlgids.h"

LIST_DIALOG DIALOG 20, 19, 220, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SETUP PARAMETERS"
BEGIN
	CONTROL "", ID_LSTDIALG_LSTBOX, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 20, 24, 182, 75
	PUSHBUTTON "&OK", IDOK, 50, 112, 42, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Cancel", IDCANCEL, 130, 111, 49, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Select Parameters:", ID_LSTDIALG_DESCR, 21, 10, 182, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
END

#endif
