
#ifndef LSTDIALG_RC
#define LSTDIALG_RC

#include <windows.h>
#include "dlgids.h"

LIST_DIALOG DIALOG 21, 20, 161, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SETUP PARAMETERS"
BEGIN
	CONTROL "", ID_LSTDIALG_LSTBOX, "LISTBOX", LBS_NOTIFY | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 20, 24, 125, 50
	PUSHBUTTON "&OK", IDOK, 26, 83, 42, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Cancel", IDCANCEL, 85, 83, 49, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Select Parameters:", ID_LSTDIALG_DESCR, 21, 10, 114, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
END

#endif
