//-----------------------------------------------------------------
// Skeleton Resources
// RC Source - Skeleton.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SKELETON       ICON         "Res\\Skeleton.ico"
IDI_SKELETON_SM    ICON         "Res\\Skeleton_sm.ico"
