//-----------------------------------------------------------------
// Brainiac Resources
// RC Source - Brainiac.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BRAINIAC       ICON         "Res\\Brainiac.ico"
IDI_BRAINIAC_SM    ICON         "Res\\Brainiac_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_TILEBLANK      BITMAP       "Res\\TileBlank.bmp"
IDB_TILE1          BITMAP       "Res\\Tile1.bmp"
IDB_TILE2          BITMAP       "Res\\Tile2.bmp"
IDB_TILE3          BITMAP       "Res\\Tile3.bmp"
IDB_TILE4          BITMAP       "Res\\Tile4.bmp"
IDB_TILE5          BITMAP       "Res\\Tile5.bmp"
IDB_TILE6          BITMAP       "Res\\Tile6.bmp"
IDB_TILE7          BITMAP       "Res\\Tile7.bmp"
IDB_TILE8          BITMAP       "Res\\Tile8.bmp"

//-----------------------------------------------------------------
// Wave Sounds
//-----------------------------------------------------------------
IDW_SELECT         WAVE         "Res\\Select.wav"
IDW_MATCH          WAVE         "Res\\Match.wav"
IDW_MISMATCH       WAVE         "Res\\Mismatch.wav"
IDW_WIN            WAVE         "Res\\Win.wav"
