<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client url="tcp://localhost:6100/RemotingService">
        <activated type="RemotingShared.ClientActivatedObject, CSRemotingSharedLibrary">
        </activated>
        <wellknown type="RemotingShared.SingleCallObject, CSRemotingClient"
                   url="tcp://localhost:6100/SingleCallService">
        </wellknown>
        <wellknown type="RemotingShared.SingletonObject, CSRemotingClient"
                   url="tcp://localhost:6100/SingletonService">
        </wellknown>
      </client>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary"></formatter>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"></formatter>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>