<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="well jumbotron">
      <h1><%= title %></h1>
      <p>Hello World, this is a simple Express Page with Bootstrap.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">About Express</a></p>
    </div>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
