//-----------------------------------------------------------------
// Slideshow Resources
// RC Source - Slideshow.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_SLIDESHOW      ICON         "Res\\Slideshow.ico"
IDI_SLIDESHOW_SM   ICON         "Res\\Slideshow_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_IMAGE1         BITMAP       "Res\\Image1.bmp"
IDB_IMAGE2         BITMAP       "Res\\Image2.bmp"
IDB_IMAGE3         BITMAP       "Res\\Image3.bmp"
IDB_IMAGE4         BITMAP       "Res\\Image4.bmp"
IDB_IMAGE5         BITMAP       "Res\\Image5.bmp"
