/*++
Copyright (c) Advanced Windows Debugging (ISBN 0321374460) from Addison-Wesley Professional.  All rights reserved.

    THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
    KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR
    PURPOSE.

--*/
#include <windows.h>
#include <ntverp.h>

#define    VER_FILETYPE    VFT_DLL
#define    VER_FILESUBTYPE    VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Chapter 13"
#define VER_INTERNALNAME_STR        "awdscenario1.exe"
#define VER_ORIGINALFILENAME_STR    "awdscenario1.exe"

#define VER_PRODUCTVERSION 1,1,0,0
#define VER_FILEVERSION 1,1,0,0
#define VER_PRODUCTNAME_STR "Advanced Windows Debugging"

#include "common.ver"
