//-----------------------------------------------------------------
// UFO 2 Resources
// RC Source - UFO.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_UFO            ICON         "Res\\UFO.ico"
IDI_UFO_SM         ICON         "Res\\UFO_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_BACKGROUND     BITMAP       "Res\\Background.bmp"
IDB_SAUCER         BITMAP       "Res\\Saucer.bmp"
IDB_SAUCERFLAME    BITMAP       "Res\\SaucerFlame.bmp"
