<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fish_animation</key>
	<string>fish_animation_%d</string>
	<key>fishingjoy_plist</key>
	<string>fishingjoy_resource.plist</string>
	<key>fishingjoy_texture</key>
	<string>fishingjoy_resource.png</string>
	<key>progress_bar</key>
	<string>progress_bar.png</string>
	<key>progress_bg</key>
	<string>progress_bg.png</string>
	<key>fish_percentage_1</key>
	<string>0.6</string>
	<key>fish_percentage_0</key>
	<string>0.8</string>
	<key>fish_reward_0</key>
	<string>10</string>
	<key>fish_reward_1</key>
	<string>20</string>
	<key>weapon_percentage_1</key>
	<string>0.6</string>
	<key>weapon_percentage_0</key>
	<string>0.3</string>
	<key>weapon_percentage_format</key>
	<string>weapon_percentage_%d</string>
	<key>reward_format</key>
	<string>fish_reward_%d</string>
	<key>fish_percentage_format</key>
	<string>fish_percentage_%d</string>
	<key>pause_selected</key>
	<string>pause_selected.png</string>
	<key>pause_normal</key>
	<string>pause_normal.png</string>
	<key>fishing_net</key>
	<string>fishing_net.png</string>
	<key>bullet</key>
	<string>bullet.png</string>
	<key>cannon_level_name_format</key>
	<string>cannon_level_%d.png</string>
	<key>star_particle</key>
	<string>star_particle.plist</string>
	<key>button_add</key>
	<string>button_add.png</string>
	<key>button_sub</key>
	<string>button_sub.png</string>
	<key>fish_frame_delay</key>
	<string>0.15</string>
	<key>fish_frame_name_format</key>
	<string>fish_%d_%d.png</string>
	<key>fish_frame_count</key>
	<string>8</string>
	<key>recovery_gold</key>
	<string>5</string>
	<key>sound_shot</key>
	<string>sound_shot.mp3</string>
	<key>sound_button</key>
	<string>sound_button.mp3</string>
	<key>default_gold</key>
	<string>200</string>
	<key>bg_music</key>
	<string>bg_music.mp3</string>
	<key>start_selected</key>
	<string>start_selected.png</string>
	<key>title</key>
	<string>title.png</string>
	<key>background</key>
	<string>background.png</string>
	<key>start_normal</key>
	<string>start_normal.png</string>
</dict>
</plist>
